/* CSS Document */

body {
  background:#aaa;
  background-image:url(../images/bg.png);
  background-repeat: repeat-x;
  margin:0;
  padding:0;
  font-size:small;
  color:#333;
  text-align:center;
  }
  
a{text-decoration:none;
  color:#800;
  }
  
a:hover{
  text-decoration:underline;
  }  

address{text-align:left}  
  
#container{
  border: solid 5px #800;
  background-color:ivory;
  width:70em;
  padding: 50px;
  margin: 50px auto;
  text-align:center;
  }
 
.inner{margin:auto; 
  width:68em;
  }
 
.clear{clear:left} 
 
.boxlet{
  float:left;
  padding:10px 1em;
  width: 20em;
  text-align:center;
  }
  
.boxletr{
  float:right;
  padding:10px 1em;
  width: 20em;
  text-align:center;
  }

.doubleboxlet{
  float:left;
  padding:10px 2em;
  width: 40em;
/*  border: solid 1px brown; */
  text-align:center;
  }
 
.centrebox{
  padding:1em;
  width: 20em;
/*  border: solid 1px brown; */
  text-align:center;
  }

.outer{margin:20px auto; 
  width:75em;
  }

.leftbox{
  float:left;
  background-color:ivory;
  padding:10px 1em;
  width: 20em;
  margin: 10px 1em;
  border: solid 3px #800; 
  text-align:left;
  }

.rightbox{
  float:right;
  background-color:ivory;
  padding:10px 1em;
  width: 20em;
  margin: 10px 1em;
  border: solid 3px #800; 
  text-align:left;
  }

ul{text-align:left} 

/* For list of papers */
.paper{margin:auto; 
  width:68em;
  text-align:left;
  }

.paper h1{color: #070;
   text-align:left;
}

.paper h2{color: #070;
   text-align:left;
}

.paper h3{color: #070;
   text-align:left;
}

.paper li{margin: 6pt 0pt
}

/*hidden popup box: */
.popupdiv{position:relative; text-align:center}
.popupdiv a span{
visibility:hidden;/* hide message initially*/
position:absolute; top:2em; left:-8em; border:5px solid #800; 
background: #ffc; padding-right:10px; font-size:small; 
text-align:left; color:#000; width:35em;
}
.popupdiv a:hover{visibility:visible; text-decoration:none;  color:#f0f;}/* ie bug needed to make span show*/
.popupdiv a:hover span{visibility:visible;}/* reveal image*/
